* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
  width: 100%;
  /* height: 10vh; */
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
}
.websitename {
  font-size: 32px;
  /* margin-top: 20px; */
  margin-left: 20px;
}
.borderline {
  height: 25px;
  margin: 0 15px;
  border-left: 1px solid gray;
}
.icons {
  width: 45%;
  display: flex;
  /* margin-top: 20px; */
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
  /* background-color: blue; */
}
.rightside {
  display: flex;
  gap: 30px;
  font-family: sans-serif;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.rightside a {
  text-decoration: underline;
}
.rightside a:hover {
  color: rgba(85, 26, 139, 1);
}
.button1 {
  margin-right: 10px;
  margin-bottom: 10px;
}
.button1 button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 27px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
.button1 button:hover {
  background-color: rgba(85, 26, 139, 1);
}
a:visited {
    color: black;
}
main {
    width: 100%;
    height: 100vh;
    background-color: beige;
}
.firstline {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* height: 100%; */
    height: 15vh;
    /* background-color: red; */
}
.firstline p {
    font-family: sans-serif;
    font-size: 18px;
}
.firstline a {
    font-family: sans-serif;
    font-size: 24px;
    margin-right: 50px;
}
.fa-tree {
    margin-left: 50px;
}
.secondline {
    width: 100%;
    /* height: 15vh; */
    display: flex;
    justify-content: center;
    /* background-color: green; */
}
.secondline h1 {
    font-family: sans-serif;
    font-size: 190px;
}
.thirdline {
    display: flex;
}
.thirdline-left {
    height: 70vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
}
.thirdline-right {
    width: 100%;
    height: 70vh;
    /* background-color: red; */
}
.thirdline-right img {
    width: 90%;
    height: 95%;
    object-fit: cover;
}
.paragraph1 {
    font-family: sans-serif;
    margin-left: 75px;
    padding-bottom: 550px;
}
.thirdline-par-btns p {
    font-family: sans-serif;
    font-size: 16px;
}