* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  background-color: #f4f4f4;
}
.websitename {
  font-size: 32px;
  margin-left: 20px;
}
.borderline {
  height: 25px;
  margin: 0 15px;
  border-left: 1px solid gray;
}
.icons {
  width: 45%;
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
}
.rightside {
  display: flex;
  gap: 30px;
  font-family: sans-serif;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.rightside a {
  text-decoration: underline;
}
.rightside a:hover {
  color: rgba(85, 26, 139, 1);
}
.button1 {
  margin-right: 10px;
  margin-bottom: 10px;
}
.button1 button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 27px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
.button1 button:hover {
  background-color: rgba(85, 26, 139, 1);
  transition: 0.6;
}
a:visited {
    color: black;
}
main {
    width: 100%;
    background-color: #f0efe1;
}
.firstline {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 15vh;
}
.firstline p {
    font-family: sans-serif;
    font-size: 18px;
}
.firstline a {
    font-family: sans-serif;
    font-size: 24px;
    margin-right: 50px;
}
.fa-tree {
    margin-left: 50px;
}
.secondline {
    width: 100%;
    display: flex;
    justify-content: center;
}
.secondline h1 {
    font-family: sans-serif;
    font-size: 190px;
}
.thirdline {
    display: flex;
}
.thirdline-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.thirdline-right {
    width: 100%;
    height: 70vh;
}
.thirdline-right img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.paragraph1 {
    font-family: sans-serif;
    margin-left: 75px;
    padding-bottom: 450px;
}
.paragraph2 {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  gap: 10px;
}
.paragraph2 p {
    font-family: sans-serif;
    font-size: 16px;
}
.thirdline-left-btns {
  display: flex;
  gap: 20px;
}
.button2 button {
  font-family: sans-serif;
  width: 155px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.button3 button {
  font-family: sans-serif;
  width: 155px;
  height: 50px;
  background-color: rgba(234, 233, 230, 1);
  border: 1px solid black;
}
.button2 button:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
}
.button3 button:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
}
.thirdline-left-btns {
  margin-bottom: 70px;
  margin-left: 70px;
}
.part2 {
  display: flex;
}
.part2-right {
  width: 50%;
  background-color: white;
}
.part2-left {
  width: 50%;
}
.part2-left-fullparagraph {
  background-color:white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  justify-content: center;
  align-items: center;

}
.part2-left-paragraph1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.part2-left-fullparagraph span {
display: block;
}
.part2-left-fullparagraph h2 {
  font-family: sans-serif;
  font-size: 62px;
  font-weight: 200;
}
.part2-left-paragraph1 p {
  font-family: sans-serif;
  font-size: 19px;
}

.part-2left-paragraph2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  font-size: 16px;
  font-family: sans-serif;
}
.part2-right img {
  width: 90%;
  height: 90%;
  margin-left: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.part3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-color: #f0efe1;
  gap: 50px;
}
.part3-content {
  display: flex;
}
.line2 {
  display: flex;
  justify-content: space-between;
}
.line2-left {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.line2-right {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.line3 {
  display: flex;
  justify-content: space-between;
}
.line4 {
  display: flex;
  justify-content: space-between;
}
.part3 {
  gap: 70px;
  font-family: sans-serif;
}
.part3 h3 {
  font-size: 64px;
  font-weight: 100;
}
.part3 h5 {
  font-size: 36px;
  font-weight: 500;
}
.part3 p {
  font-size: 16px;
}
.line1 p {
  font-size: 18px;
}
.line1 {
  margin-top: 70px;
  margin-left: 80px;
}
.line2-left {
  margin-left: 80px;
}
.line3-left {
  margin-left: 80px;
}
.line4-left {
  margin-left: 80px;
}
.line2-right {
  margin-right: 280px;
}
.line3-right {
  margin-right: 280px;
}
.line4-right {
  margin-right: 280px;
}
.part3 hr {
  margin: 0px 70px;
}
.part4 {
  width: 100%;
  background-color: #f4f4f4;
}
.part4-header {
  padding: 50px;
  font-size: 62px;
  color: #242121;
  font-family: sans-serif;
}
.part4-header h2 {
  font-weight: normal;
}
.part4-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  font-family: sans-serif;
  font-size: 18px;
}
.part4-paragraph1 {
  width: 430px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
line-height: 1.4;
}
.part4-paragraph2 {
  width: 450px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.4;
}
.part4-paragraph3 {
  width: 430px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  line-height: 1.4;
}
.part5 {
  width: 100%;
}
.part5 img {
  width: 100%;
}
.part6 {
  width: 100%;
  height: 100vh;
  background-color: rgb(234, 233, 230);
  font-family: sans-serif;
}
.part6-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.part6-paragraph1 {
  display: flex;
  justify-content: space-between;
}
.part6-paragraph1 h5 {
  padding-left: 80px;
  font-size: 19px;
  font-weight: normal;
}
.part6-paragraph1 p {
  width: 400px;
  margin-right: 400px;
  font-size: 16px;
  line-height: 1.6;
}
.part6-paragraph2 {
  display: flex;
  justify-content: space-between;
}
.part6-paragraph2 h5 {
  padding-left: 80px;
  font-size: 19px;
  font-weight: normal;
}
.part6-paragraph2 p {
  width: 400px;
  margin-right: 400px;
  font-size: 16px;
  line-height: 1.6;
}
.part6-paragraph3 {
  display: flex;
  justify-content: space-between;
}
.part6-paragraph3 h5 {
  padding-left: 80px;
  font-size: 19px;
  font-weight: normal;
}
.part6-paragraph3 p {
  width: 420px;
  margin-right: 380px;
  font-size: 16px;
  line-height: 1.6;
}
.part6-header {
  padding: 80px;
  font-size: 62px;
}
.part6-header h2 {
  font-weight: normal;
}
.part7-left {
  width: 60%;
  height: 70vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.part7-left h2 {
  width: 340px;
  margin-top: 100px;
  font-size: 56px;
  color: #242121;
  font-family: sans-serif;
}
.left-img1 {
  position: absolute;
  right: 35%;
   top: 68%;
}
.left-img2 {
  position: absolute;
  top: 30%;
  right: 20%;
  font-weight: normal;
}
.part7 {
  display: flex;
}
.part7-right {
  display: flex;
  flex-direction: column;
}
.input1, .input2, .input3, .input4, .input5 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.part7-right input {
  border: none;
  background-color: transparent;
  border-bottom: 1px  solid black;
  width: 400px;
}
.fullinput {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
input:focus {
  outline: none;
}
.part7-right button {
  padding: 11px 15px;
  width: 400px;
  margin-top: 20px;
  font-size: 14px;
  border: 1px solid  black;
   background-color: #c8c8c8;
   cursor: pointer;
}
.part7-right button:hover {
  background-color: black;
  color: white;
}
.part8 {
  width: 100%;
  height: 60vh;
  background-color: #eae9e6;
  display: flex;
}
.part8-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 100px 70px;
  gap: 40px;
  font-family: sans-serif;
  line-height: 1.4em;

}
.part8-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-end;
  justify-content: flex-end;
}
.part8-left-header {
  padding: 100px 0px;
  font-size: 33px;
  
}
.part8-left-paragraph1 {
  font-size: 14px;
}
.part8-left-paragraph2 {
  font-size: 14px;
}
.part8-left-icons {
  font-size: 40px;
}
.part8-right-list {
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  margin-bottom: 100px;
  padding: 50px 310px;
text-decoration: underline;
}
.part8-right-paragraph1 {
  padding-right: 100px;
  margin-bottom: 100PX;
}
.part8-right-paragraph1 a {
  text-decoration: underline;
}